VITE_SUPABASE_URL=https://whueansihxiqrxkditpt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndodWVhbnNpaHhpcXJ4a2RpdHB0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTQ2NDEsImV4cCI6MjA5NTI3MDY0MX0.yz3-N9ByK05dAAjGrwnB0FN7i9SKHfKJoR3r4fG93aI
